.footer__menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.footer__menu-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 720px){
  .footer__menu-link {
    font-size: 24px;
    line-height: 24px;
  }
}